








<section>
    <div class="speaker-content">
    <div class="Aj-sef">
    <h2>Aj Self</h2>
    <h5>(YOU SHOULD BE) TESTING YOUR JAVASCRIPT</h5>
    <p>JavaScript applications frequently utilize battle-tested libraries 
        like jQuery, AngularJS, Backbone.js and more, but how can we be
         sure that our code is ready for production? This talk will share 
         tips on how writing tests can be written easily and quickly and
          how to remove buggy code through testing.</p>

        
       
<h5>ABOUT AJ</h5>
<P>AJ is a software engineer specializing in JavaScript working at
     Belly in Chicago. Lately he has been writing applications with
      AngularJS and loving it. When not coding he
     is out loving the outdoors with his dog, Sunshine.</P>

</div>

    
    <aside class="aj-side">
        <div class="info">

<img src="../../assets/image/aj-self.jpg" alt="arron-img">

<ul>
<li>
    <a href="https://twitter.com/aaroni">@ajself</a>
</li>
<li><a href="http://www.thisisaaronslife.com/">
    ajself.com</a>"</li>
</ul>

</div>
    </aside>


       


</div>
    </section>

