

<section>

<div class="table">
<div class="tabe-content">

    <table>
<tr>
<th>Workshops</th>
<td>August 24th</td>

</tr>

<tr>
<td>8.30AM</td>
<td>Registration</td>

</tr>


    

<tr>

    <td>9.00AM</td>

<td>
<a href="#"><h4>Adam Connor</h4>Lights! Camera! interaction! Design
     inspiration from filmmakers</a>
</td>

<td>
    <a href="#"><h4>Jennifer Jones</h4>What Designers can Learn from Parenting</a>
</td>
</tr>

<tr>
    <td>12:30 PM</td>

    <td>Lunch</td>
</tr>

<tr>
<td>2:00 PM</td>

<td>
<a href="#"><h4>Tessa Harmon</h4>Crafty Coding: Generating Knitting Patterns</a>
</td>

<td>
    <a href="#"><h4>Russ Unger</h4>From Muppets to Mastery: Core UX Principles from Mr. Jim Henson</a>
</td>

</tr>

    </table>



<table>
<tr>
<th>Conference</th>
<td>August 25th</td>

</tr>

<tr>
<td>8.30 AM</td>
<td>Registration</td>

</tr>

<tr>
<td>9:00 AM</td>
<td>
    <a href="#"><h4>Vitaly Friedman</h4>Responsive Web Design: Clever Tips and Techniques</a>
</td>
</tr>

<tr>
    <td>10:00 Am</td>
    <td>Morning Break</td>
</tr>

<tr>
<td>11.30 AM</td>
<td>
    <a href="#"><h4>Shay Howe</h4>Less is More: How Constraints Cultivate Growth</a>
</td>
<td>
    <a href="#"><h4>Jenn Downs</h4>Whats Stopping You?</a>
</td>

</tr>

<tr>
<td>11.30 AM</td>
<td>
    <a href="#"><h4>Carolyn Chandler</h4>The Business of play</a>
</td>
<td>
    <a href="#"><h4>Chris Mills</h4>Heavy Metal Coding</a>
</td>

</tr>

<tr>
<td>12.30 PM</td>
<td>Lunch</td>

</tr>

<tr>
    <td>2:00 PM</td>
<td>
    <a href="#"><h4>Zoe Mickley Gillenwater</h4>Levelling up with Flexbox</a>
</td>
<td>
    <a href="#"><h4>Darby Frey</h4>Building a Mobile layout</a>
</td>

</tr>

<TR>
<td>3:00 PM</td>
<td>
    <a href="#"><h4>Brad Smith</h4>What Designers and Strategists Can Learn from Dick Fosbury</a>
</td>
<td>
    <a href="#"><h4>Erica Decker</h4>What Disney Can Teach You about User Experience Design</a>
</td>

</TR>

<tr>
<td>4:00 PM</td>
<td>Afternoon Break</td>

</tr>

<tr>
    <td>4.30 PM</td>
     <td>
         <a href="#"><h4>Estelle Weyl</h4>Select This!</a>
     </td>
</tr>


</table>

<Table>

<tr>
    <th>Conference</th>
    <td>August 26th</td>
</tr>

<tr>
<td>8.30 PM</td>
<td>registration</td>

</tr>

<tr>
<td>9:00 AM</td>
<td>
    <a href="#"><h4>Aaron Irizarry</h4>Designing a Culture of Design</a>
</td>

</tr>

<tr>
    <td>10:00 AM</td>
    <td>Morning break</td>
</tr>

<tr>
<td>10.30 AM</td>
<TD>
    <a href="#"><h4>Jen Myers</h4>Teaching Our CSS to Play Nice</a>
</TD>

<td>
    <a href="#"><h4>Aj Self</h4>(You Should Be) Testing Your JavaScript</a>
</td>
</tr>

<tr>
<td>11.30 AM</td>
<td>
    <a href="#"><h4>Dan Denney</h4>Creating HTML Emails Can Be Fun</a>
</td>
<td>
    <a href="#"><h4>Maya Bruck</h4>So You Want to Be a Unicorn</a>
</td>
</tr>

<tr>
    <td>12.30 PM</td>
    <td>Lunch</td>
</tr>

<tr>
    <td>2:00 PM</td>
    <td>
        <a href="#"><h4>Victoria Pater</h4>Excellent Tacos Are Not Created in a Vacuum</a>
    </td>
    <td>
        <a href="#"><h4>Arman Ghosh</h4>Designing Deals: How Good Design Drives Sales</a>
    </td>
</tr>



<tr>
    <td>3:00 PM</td>
    <td>
        <a href="#"><h4>Bermon Painter</h4>Death to Wireframes: Long Live Rapid Prototyping</a>
    </td>
    <td>
        <a href="#"><h4>Candi Lemoine</h4>Making Remote Development Work</a>
    </td>
</tr>


<tr>
    <td>4:00 PM</td>
    <td>Afternoon Break</td>
</tr>


<tr>
    <td>3:00 PM</td>
    <td>
        <a href="#"><h4>Dr. Leslie Jensen-Inman</h4>Designing to Learn</a>
    </td>
</tr>


</Table>




















































</div>

</div>

</section>
