


<section id="body" class="container">

    <div class="content-wrapper">
        <div class="inner-content">
            <h5>SPEAKERS</h5>
            <a href="#"><img
                 src="../../assets/image/speakers.jpg" alt="talking lady">
                <h4>World-Class Speakers</h4></a>
            
            <p>joining us
                 from all round the world are over<br> twenty 
                 fantastic speakers,here to<br> share their stories.</p>
        </div>


        <div class="inner-content">
            <h5>SCHEDULE</h5>
            <a href="#"><img src="../../assets/image/schedule.jpg" alt="schedule">
            <h4>Three Inspring Days</h4></a>
        
        <p>Enjoy three Inspring and action-packed<br>
             days of tals,mgathering, and all-round<br> good times</p>
        </div>

        <div class="inner-content">
            <h5>VENUE</h5>
            <a href="#">
                <img src="../../assets/image/venue.jpg" alt="venue"><h4>The Chicago Threatre</h4></a>
            
            <p>Within the heart of downtown chicago.<br>
           The Chicago Threatre will provide a <br>beautiful conference venue.</p>

        </div>

    </div>

    


</section>




