







<section>
    <div class="speaker-con">
    <div class="bermon">
    <h2>Bermon Painter</h2>
    <h5>DEATH TO WIREFRAMES: LONG LIVE RAPID PROTOTYPING</h5>
    <p>Static wireframes are a drag on the whole design process.
         Prototyping makes things a little better by allowing you to
          stitch together static wireframes or mockups while adding basic 
          interactions. Rapid prototyping with HTML, CSS, and JavaScript is 
          even better and faster; it increases collaboration
         and improves the iteration process. Kill your wireframes.
          Long live rapid prototyping..</p>

        
       
<h5>ABOUT BERMON</h5>
<P>Bermon is the organizer of various community groups for user 
    experience designers and front-end developers, 
    and the organizer of Blend Conference, a three-day,
     multi-track event for user experience strategists, designers
      and developers. He also leads the user experience team for Cardinal 
      Solutions’ Charlotte office, where he consults with large enterprise 
      clients on interesting problems across user experience, design and
       front-end development..</P>

</div>

    
    <aside class="bermon-side">
        <div class="painter">

<img src="../../assets/image/bermon-painter.jpg" alt="arron-img">

<ul>
<li>
    <a href="https://twitter.com/aaroni">@bermonpainter</a>
</li>
<li><a href="http://www.thisisaaronslife.com/">
    bermonpainter.com</a>"</li>
</ul>

</div>
    </aside>


       


</div>
    </section>

