
  
<!-- <body> -->
    
        
     
        <H1>SPEAKERS</H1>
<a href="#">World-Class<img
     src="../../assets/image/speakers.jpg" alt="talking lady"></a>

<p>joining us
     from all round the world are over twenty 
     fantastic speakers,here to share stories.</p>
    

   
<h1>SCHEDULE</h1>
    <a href="#">Three Inspring Days
        <img src="../../assets/image/schedule.jpg" alt="schedule"></a>

<p>Enjoy three Inspring and action-packed
     days pf tals,gathering,and all-round good times</p>
    


    
     <div class="rows">
     <h1>VENUE</h1>
     <a href="#">The Chicago Threatre
         <img src="../../assets/image/venue.jpg" alt="venue"></a>
     
     <p>Within the heart of downtown chicago.<br>
    The Chicago Threatre will provide a beautiful conference venue.</p>

     





     
<!-- </body> -->
  

