

<div class="grid">
    <div class="grid-container">
        <div class="text">
<h2>Purchase a Conference Pass</h2>
<h6>$99 PER PASS</h6>

<p>Purchase your Styles Conference pass using the form to the right. 
    Multiple passes may be purchased within the same order,
     so feel free to bring a friend or two along.
      Once your order is finished we’ll follow up and provide 
    a receipt for your purchase. See you soon</p>
    <p>Why attend?</p>
<ul>
<li>
    Over twenty world-class speakers
</li>
<li>
    One full day of workshops
     and two full days of presentations
</li>

<li>
    Hosted at The Chicago Theatre,
    a historical landmark
</li>

    <li>
        August in Chicago is simply amazing
    </li>
</ul>
</div>
    </div>

<div class="grid-container">
    <form>
        <div class="names">
<label for="Name">Name</label>
<input type="name" placeholder="Full name"></div>

<div class="email">
<label for="email">Email</label>
<input type="email" placeholder="Email">

</div>

<div class="passes">
<label for="number">Number of passes</label>
<input class="num" type="number" placeholder="1">

</div>
 
<div class="area-text">
<label for="text-area">Comments</label>
<textarea class="area"></textarea>

</div>

<div class="button">

   <button class="btn">PURCHASE</button>
    
</div>


    </form>

</div>




























</div>
