









<section>
    <div class="speaker-co">
    <div class="shay">
    <h2>Shay Howe</h2>
    <h5>LESS IS MORE: HOW CONSTRAINTS CULTIVATE GROWTH</h5>
    <p>By setting constraints, we force ourselves to be more productive.
         They help us make decisions, creating focus around the problem 
         we are trying to solve. They improve our consistency, which provides
          a better experience for our users. And they help us grow, a valuable
           asset in times of innovation..</p>

        
       
<h5>ABOUT SHAY</h5>
<P>As a designer and front-end developer, Shay Howe has a passion
     for solving problems while building creative and intuitive products. 
     Shay specializes in product design and interface development, specialties 
     which he regularly writes and speaks about.</P>

</div>

    
    <aside class="shay-side">
        <div class="howe">

<img src="../../assets/image/shay-howe.jpg" alt="arron-img">

<ul>
<li>
    <a href="https://twitter.com/aaroni">@shayhowe</a>
</li>
<li><a href="http://www.thisisaaronslife.com/">
    learn.shayhowe.com.com</a>"</li>
</ul>

</div>
    </aside>


       


</div>
    </section>


