





    <section>
        <div class="speaker2-container">
        <div class="Adam-Connor">
        <h2>Adam Connor</h2>
        <h5>
            LIGHTS! CAMERA! INTERACTION! DESIGN INSPIRATION FROM FILMMAKERS</h5>
        <p>Films succeed in evoking responses and engaging audiences only with a 
            combination of well-written narrative and effective storytelling technique. 
            It’s the filmmaker’s job to put this together. To do so they’ve developed processes, 
            tools and techniques that allow them to focus attention, emphasize information,
             foreshadow and produce the many elements that together comprise a well-told story.
    <br><br>
    With this workshop, we’ll revisit the topic of using stories in design
     and expand on the technical aspects used in film to communicate.
      We’ll look at some tools used in film, such as cinematic patterns, 
      beat sheets, and storyboards. 
    We’ll consider why they’re used 
    and how we might look to them for inspiration. </p>
    
           
    <h5>ABOUT ADAM</h5>
    <P>Adam Connor is a designer, illustrator and speaker passionate about
         collaboration, communication, creativity and storytelling.
          As an Experience Design Director with Mad*Pow, Adam combines 10+ years of 
          experience in interaction and experience design with a background in 
          computer science, film, and animation to create effective and easy-to-use
           digital products and services. He believes that no matter how utilitarian a tool is
           , at the core of its creation lies a story; uncovering 
        that story is key to its success. Occasionally, he shares his perspectives
         on design at<br>

        <a href="#">adamconnor.com</a>
       and
        <a class="link" href="#">discussingdesign.com</a>
        </P>
    
    </div>
    
        
        <aside class="adam-side">
            <div class="details">
    
    <img src="../../assets/image/adam-connor.jpg" alt="arron-img">
    
    <ul>
    <li>
        <a href="https://twitter.com/aaroni">@adamconnor</a>
    </li>
    <li><a href="http://www.thisisaaronslife.com/">
        adamconnor.com</a>"</li>
    </ul>
    
    </div>
        </aside>
    
    
           
    
    
    </div>
        </section>
    
